{% layout "layout.liquid" %}
{% block content %}

    <div class="container">
        <img class="logo" src="bre-logo.png">

        
        <h2>Hey, you made it! What you need to do now:</h2>
        <ol class="intro">
            <li>Log in</li>
            <li>GET READY TO ROCK</li>
        </ol>
    </div>

{% endblock %}