{% layout 'layout.liquid' %}

{% block content %}
    <div class="container-md">

        <article>
            <h2>YO</h2>

            <p>before loop</p>
            {% for song in Songs %}
                <li>{{ song.title }}</li>
            {% endfor %}
            <p>after loop</p>


        </article>
    </div>
{% endblock %}
