{% layout 'layout.liquid' %}
{% block content %}

<h1>Add song to setlist</h1>

<div class="form-container">
    <form action="" method="">

        <p><label>Song:
            <input
                type="text"
                name="song"
                placeholder="Enter song"
                value="{{ song.title }}"
            >
        </label></p>

        <p><label>Song:
            <input
                type="text"
                name="artist"
                placeholder="Enter artist"
                value="{{ song.artist }}"
            >
        </label></p>

        <p><label for="position"><span>Position</span></label>
        <select class="" name="position" id="position">
            {% if song.position contains "Vocals" %}
                <option value="vocals">Vocals</option>
            {% endif %}
            {% if song.position contains "Guitar" %}
                <option value="guitar">Guitar</option>
            {% endif %}
            {% if song.position contains "Bass" %}
                <option value="bass">Bass</option>
            {% endif %}
            {% if song.position contains "Drums" %}
                <option value="drums">Drums</option>
            {% endif %}
            {% if song.position contains "Keys" %}
                <option value="keys">Keys</option>
            {% endif %}
        </select></p>
        <p>
            <label for="comments">Hello, Cleveland!</label><br />
            <textarea id="comments" name="comments" rows="4" cols="50" placeholder="FREEBIRD"></textarea>
        </p>
    </form>
</div>

<input type="submit" value="Add song to setlist">

{% endblock %}